* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(182, 130, 99, 1);
    --secondary-color: rgba(223, 80, 39, 1);
    --terciary-color: rgba(148, 34, 3, 1);
}

body {
    margin: 0;
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.classroom {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 1.5rem 0;
}

.door {
    position: absolute;
    left: 2%;
    width: 50px;
    height: 5%;
    background-color: red;
}

.whiteboard {
    position: absolute;
    left: 10%;
    width: 50px;
    height: 50px;
    background-color: green;
}

.desks {
    margin-top: 4rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in;
}

.desk {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px dotted pink;
    margin: 0.4rem;
}

.students {
    margin-top: 4rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.student {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px dotted pink;
    margin: 0.4rem;
    overflow: hidden;
}

.hide {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: black;
}