@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: darkseagreen;
}

h1 {
    border-inline-end: 2px solid black;
}

form {
    width: 10rem;
    height: 2rem;
    padding: 2rem 6rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    background-color: darkseagreen;
    transition: outline-offset 0.2s ease-in;
    color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
    font-size: 16px;
}

button {
    transition: outline-offset 0.2s ease-in;
}

button:focus,
input:focus {
    outline-offset: 4px;
    outline-color: rgba(0, 0, 0, 0.1);
}

button {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}