@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.5)
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flexbox;
    height: 100vh;
    overflow: hidden;
    background-color: saddlebrown;
}

body h2 {
    margin: 1rem;
    color: white
}

.instructions {
    color: white;
    position: absolute;
    top: 1px;
    right: 52%;
    visibility: hidden;
}

.board {
    display: flex;
    margin: 0 1rem;
    flex-direction: row;
}

.column {
    background-color: tan;
    box-shadow: var(--shadow);
    width: 33%;
    height: 88vh;
    margin: 8px;
    border-top: none;
    border-bottom: none;
}

.tasks {
    width: 30vw;
    height: 88%;
    margin: 8px;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    padding: 8px;
    background-color: rgba(47, 79, 79, 0.609);
    color: white;
    margin: 0;
    width: 100%;
    align-self: flex-start;
}

.task {
    width: 90%;
    height: 24vh;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
}

.task p {
    padding: 2px;
    margin: 0;
}

.terminado {
    background-color: aqua;
}

.tag {
    width: 18vw;
    height: 20%;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateY(-12px);
    /* transform: rotate(-90deg) translateX(55px) translateY(50px); */
    color: white;
    text-transform: uppercase;
    text-align: left;
    line-height: 30px;
}

textarea {
    resize: none;
    width: 100%;
    margin-bottom: 20px;
    font: 16px 'Muli', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    display: block;
}

.frontend {
    background-color: palevioletred;
}

.backend {
    background-color: darkslateblue;
}

.devops {
    background-color: lightslategrey;
}

.design {
    background-color: mediumpurple;
}

@media only screen and (max-width:600px) {
    body h2 {
        text-align: center;
        font-size: 16px;
        margin: 0.1rem 0;
    }
    .board {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 100%;
        height: 30vh;
        flex-direction: column;
        margin-top: 0.2rem;
        transition: flex-direction 0.9s ease;
    }
    .status {
        padding: 0;
        font-size: 14px;
    }
    .tasks {
        display: flex;
        flex-direction: row;
        height: 90%;
        width: 90vw;
        margin: 0;
    }
    .task {
        margin-top: 1rem;
        margin-left: 0.3rem;
        height: 80%;
        width: 28vw;
        position: relative;
    }
    .task p {
        position: absolute;
        top: 14px;
        font-size: 10px;
        padding: 8px 2px;
        line-height: 12px;
        text-align: left;
    }
    .tag {
        width: 20vw;
        font-size: 10px;
        line-height: 35px;
    }
}