 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: none;
 }
 
 :root {
     --primary-color: #e4d7d0;
     --secondary-color: #ff9636;
 }
 
 body {
     background-color: var(--primary-color);
     font-family: 'Roboto Mono', sans-serif;
 }
 
 header {
     width: 100%;
     background-color: var(--secondary-color);
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 header .logo {
     position: absolute;
     top: 10px;
     left: 10px;
     display: none;
 }
 
 header ul {
     display: flex;
     list-style: none;
     align-items: center;
     justify-content: center;
 }
 
 header ul li:nth-child(2) {
     margin-left: 128px;
 }
 
 .links a {
     text-decoration: none;
     position: relative;
     color: #444;
     font-weight: bold;
     font-size: 18px;
 }
 
 .links a::after {
     content: "";
     display: inline-block;
     position: absolute;
     bottom: -4px;
     left: 0;
     width: 0;
     height: 2px;
     background-color: whitesmoke;
 }
 
 .links a:hover::after {
     width: 100%;
     transition: width 0.3s ease-in-out;
 }
 
 .links a:hover {
     transition: color 0.3s ease-in 0.3s;
     color: whitesmoke;
 }
 
 .card {
     width: 800px;
     min-height: 400px;
     background-color: whitesmoke;
     margin: 45px auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.5);
     animation: up 0.5s ease-in-out;
 }
 /* Animations */
 
 @keyframes up {
     from {
         opacity: 0;
         transform: translateY(-50px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
 /* Animations end */
 
 .details {
     padding: 20px;
 }
 
 .item {
     border-bottom: 1px solid rgb(207, 207, 207);
     padding: 16px 0;
 }
 
 .item:last-child {
     border-bottom: none;
 }
 
 .details h3,
 .details .item div:nth-child(1) {
     color: #777;
     line-height: 24px;
     font-size: 14px;
     letter-spacing: 0.4px;
 }
 
 .details .item div:nth-child(2) {
     font-weight: bold;
     font-size: 18px;
     color: #555;
 }
 
 .details h3 {
     color: var(--secondary-color);
     text-transform: uppercase;
     font-weight: bold;
 }
 
 .details span {
     background-color: #4b8378;
     padding: 4px 8px;
     border-radius: 8px;
     display: inline-block;
     margin: 2px 4px;
     text-transform: uppercase;
     font-size: 12px;
     color: rgb(221, 220, 220);
 }