{% extends "layout.njk" %}

{% block content %}
      <div class="card">
            <section class="avatar" style="background: url('https://source.unsplash.com/collection/10647885/600x400') no-repeat center center/cover">
            </section>
            <section class="details">
                  <h3>Detalhes</h3>
                  <div class="item">
                        <div>Empresa</div>
                        <div>Equatorial</div>
                  </div>

                  <div class="item">
                        <div>Local</div>
                        <div>São Luís</div>
                  </div>

                  <div class="item">
                        <div>Areas Oferecidas</div>
                        <div>
                              <span>Programador</span>
                              <span>Técnico eletromecanico</span>
                              <span>Técnico de fiação</span>
                        </div>
                  </div>
                  
      

                  <div class="item">
                        <div>Inicio da contrataçao: </div>
                        <div>01/08/2021</div>
                  </div>

            </section>
      </div>
{% endblock content %}
