@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: gainsboro;
    --secondary-color: whitesmoke;
    --shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* persperctive and transform-style on the whole card work together */
    perspective: 1000px;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 22rem;
    min-height: 30rem;
    box-shadow: var(--shadow), 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: whitesmoke;
    transform-style: preserve-3d;
}

.card-image {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 20rem;
    z-index: 2;
    transition: transform 0.4s ease-in-out;
}

.circle {
    width: 18rem;
    height: 18rem;
    background-image: linear-gradient(to right, rgba(255, 72, 0, 0.883), rgba(219, 19, 19, 0.801));
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.card-content {
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.author {
    width: 50%;
    display: flex;
    padding: 0.5rem;
}

.author img {
    width: 3rem;
    border-radius: 50px;
}

.author-info {
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.author-info strong {
    font-size: 14px;
}

.author-info small {
    font-size: 12px;
    color: #777;
}