<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MarijuStore</title>
</head>

<body>
    <a href="/product">Click me</a>
    <h4>Hey!</h4>
    <p>it fucking works kkkkkkk Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex ad laboriosam commodi quisquam distinctio fuga explicabo perferendis id at.</p>
</body>

</html>