 {% extends "layout.njk" %}
 
  {% block head%}
<title>Product Page</title>
{% endblock %} {% block content %}
<div class="container product-page">
    <div class="product-images">
        <div class="main-image">
            <img src="{{item.image_URL}}" alt="brown-knife" class="main">
        </div>

        <div class="minor-images">
            <img src="{{item.image_URL}}" alt="" class="minor-image">
            <img src="{{item.secondImage}}" alt="" class="minor-image">
            <img src="{{item.thirdImage}}" alt="" class="minor-image">
        </div>
    </div>

    <div class="product-information">
        <h2 class="name"> {{item.title}} </h2>
        <h4 class="made-by"> <span>by</span> {{item.supplier}}</h4>
        <span class="price">$ {{item.price}}</span>
        <div class="description">
            <ul>
                <p>{{item.exerpt}}</p>
        </div>

        <div class="quantity">
            <input type="text" placeholder="1">
            <div class="buttons">
                <button class="increase" id="increase">+</button>
                <button class="decrease" id="decrease">-</button>
            </div>


            <button class="add-to-cart">Add to cart</button>
        </div>




    </div>
</div>
<div class="shop-cart">
    <i class="fas fa-cart-plus"></i>    
    <div class="items">

        <div class="item">
            <div>{{item.title}} </div>
            <div><span>{{item.price}}</span></div>
            <div> {{item.supplier}} </div>
        </div>
</div>

{% endblock %}