@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.left-slide {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-slide>div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide {
    height: 100%;
    width: 65%;
    left: 35%;
    position: absolute;
    background-color: pink;
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
}

button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 2;
    border: none;
    background-position: white;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

.down-button {
    transform: translateX(-100%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.up-button {
    transform: translateY(-100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}