{% extends "layout.njk" %}

{% block content %}
      <div class="card">
            <section class="avatar" style="background: url('https://thispersondoesnotexist.com/image')">
            </section>
            <section class="details"></section>
      </div>
{% endblock content %}
