@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0.5rem 2rem;
    background-color: rgb(92, 70, 51);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    overflow: hidden;
    height: 100vh;
    padding: 0.5rem 1rem;
}

.product-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-image {
    height: 60vh;
    display: flex;
    margin-bottom: 0.5rem;
}

.main-image img {
    object-fit: cover center;
    max-height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.minor-images {
    display: flex;
    align-items: center;
    height: 20vh;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
}

.minor-images img {
    display: flex;
    max-height: 100%;
    object-fit: cover center;
    border-radius: 1rem;
}

.product-description {
    width: 50vw;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}