@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    margin: 0;
    font-family: 'Muli', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.key {
    min-width: 150px;
    display: inline-flex;
    border: 1px solid grey;
    margin: 15px;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    padding: 20px;
    position: relative;
}

.key small {
    position: absolute;
    top: -24px;
    color: #555;
    font-size: 14px;
}

.key:nth-child(4) {
    font-weight: bold;
    background-color: antiquewhite;
    border: none;
}